@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
html{
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body{
    font-size: 15px;
    background-image: url("./images/bg-pattern-top-desktop.svg"),  url("./images/bg-pattern-bottom-desktop.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    height: 100vh;
    font-family: 'League Spartan', sans-serif;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-left: 0.5rem;
    padding: 2.5rem 6.3rem;
    /* padding-left: 5.5rem; */
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* justify-content: center; */
    
    
}
.content{
    display: flex;
    flex: auto;
    gap: 5rem;
    padding: 0 3.4rem;
    
    
}
.product{
    width: 40%;
    
 }
.product h1{
    font-size: 44px
}
.ratings{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}
.product h1,
.ratings p{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}
.product p{
    color: hsl(303, 10%, 53%)
}
.each-rating{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 0.9rem;  
}
.rates{
    display: flex;
    gap: 4px;
    width: 350px;
    height: 40px;
    margin: 0.5rem;
    padding: 0.9rem;
    border-radius: 4px;
    background-color: hsl(300, 24%, 96%);
}
.rating-one{
    margin-top: 52px;
}
.rating-two{
    margin-left: 52px;
    
}
.rating-three{
    margin-left: 104px;
}
.stars{
    margin-left: 0.5rem;
}
.stars img{
    width: 15px;
}
.customer-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.customer-info{
    display: flex;
    align-items: center;
    gap: 16px;
    line-height: 4px;
    font-size: 0.75rem;
    font-weight: 700;
}
.verified{
    font-weight: 0;
    color: hsl(333, 80%, 67%);
}
.reviews{
    display: flex;
    gap: 16px;
    padding: 0 2.92rem;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(300, 43%, 22%);
    width: 278px;
    height: 180px;
    color: hsl(300, 24%, 96%);
    margin: 0.5rem;
    padding: 0.90rem;
    font-size: 0.9rem;
    border-radius: 8px;
}
#s-two{
    margin-top: 24px;
}
#s-three{
    margin-top: 48px;
}
section > p{
    line-height: 18px;
}
.reviews{
    display: flex;
}

@media (max-width: 376px) {
    .container{
        width: 100%;
    }
    .product{
        text-align: center;
    }
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }